header {
  width: 100%;
}
header nav {
  height: 100px;
  padding: 0 100px;
  /* border: 1px solid #000; */
  overflow: hidden;
}
header nav ul {}
header nav ul li {
  float: left;
  line-height: 100px;
}
header nav ul li:nth-child(2),
header nav ul li:nth-child(3),
header nav ul li:nth-child(4),
header nav ul li:nth-child(5) {
  padding-left: 80px;
}
header nav ul li:nth-child(6) {
  padding: 10px 190px;
}
header nav ul li:nth-child(8),
header nav ul li:nth-child(9),
header nav ul li:nth-child(10),
header nav ul li:nth-child(11),
header nav ul li:nth-child(12) {
  padding-left: 50px;
}
header nav ul li a {}
header .logo {width: 53px;}
