.visual {
  width: 100%;
  height: 800px;
  padding: 0 100px;
  box-sizing: border-box;
  position: relative;
}

/* visual_slide end */

.swiper-pagination-progressbar {
  bottom: 0;
}

.swiper-pagination-progressbar {
  background: #fff;
  position: absolute;
}

:root {
  --swiper-theme-color: rgba(0, 0, 0, .25);
}

.slide_box {
  position: absolute;
  top: 186px;
  left: 146px;
  z-index: 1;
  text-align: left;
  color: #fff;
}
.slide_box div {
  margin-bottom: 23px;
  font-size: 24px;
}
.slide_box p {
  font-size: 70px;
}
.slide_box a {
  display: inline-block;
  width: 104px;
  height: 42px;
  border-radius: 50px;
  background-color: rgba(217, 217, 217, 0.3);
  margin-top: 290px;
  text-align: center;
  line-height: 42px;
  color: #fff;
  transition: 0.3s;
}
.slide_box a:hover,
.slide_box a:active {
  background-color: #887862bb;
  color: #fff;
}
/* visual_slide end */

/* select_trvel start */
.select_travel {
  position: absolute;
  top: 50%;
  right: 146px;
  transform: translateY(-50%);
  width: 407px;
  height: 428px;
  padding: 52px 45px 36px 45px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
  box-sizing: border-box;
}

.select_travel p {
  font-size: 26px;
}

.tabmenu {
  margin-top: 44px;
  position: relative;
}

.tab {
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.tab li {
  float: left;
  padding-right: 36px;
  margin-bottom: 37px;
}

.tab li:last-child {
  padding: 0;
}

.tab li a {
  display: inline;
  color: #818181;
  text-align: center;
  text-decoration: none;
}

.tabcont {
  display: none;
}

ul.tab li.on a {
  color: #887862;
  text-decoration: underline;
}

.tabcont.on {
  display: block;
}

/* location start */
.location input {
  border: 1px solid #f4f4f4;
  width: 317px;
  height: 42px;
  padding: 13px 0 14px 16px;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
  font-size: 16px;
}

.location input:first-child {
  margin-bottom: 15px;
}

.location input:focus {
  border: 1px solid #f4f4f4;
}

.location input:focus::placeholder {
  visibility: hidden;
}

/* location end */


/* date start */
::-webkit-datetime-edit {
  padding: 12px 100px;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 5px;
}

::-webkit-datetime-edit-fields-wrapper {
  background-color: #fff;
}

::-webkit-datetime-edit-year-field {
  color: #222;
}

/* date end */

/* count start */
.title {
  width: 80%;
  height: 36px;
  float: left;
}
.title strong {
  font-weight: bold;
}
.title > p,
.title > a {
  display: inline;
  font-size: 12px;
  color: #818181;
}
.count_btn {
  float: right;
  width: 20%;
}
.count_btn input {
  padding: 0 5px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #f4f4f4;
  transition: 0.3s;
  cursor: pointer;
}
.count_btn input:hover,
.count_btn input:active {
  border: 1px solid #887862;
}
/* count end */

.tabmenu_btn {
  position: absolute;
  width: 145px;
  height: 42px;
  border-radius: 5px;
  border: none;
  background-color: #4c4a4a;
  color: #fff;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
  cursor: pointer;
}
.tabmenu_btn:hover {
  background-color: #887862;
}
/* select_trvel end */